<html>
  <head>
    <title>ocalfo</title>
  </head>
  <body>
    <h1>API documentation</goods>
    <h2>GET goods</h2>

      GET<br>
      http://<host>/goods.json<br>
      Example response:<br>
      <pre>
      [{"name":"flour","unit":"kg","unit_size":1,"price_per_unit":1000}]
    </pre>
  </body>
</html>
